.headerToDoList {
  width: 100%;
  height: 12.5rem;
  background-color: var(--gray-700);
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerToDoList>img {
  width: 7.875rem;
  height: 3rem;
}